<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8hONQIGgiihmklteot7x_8m0qkY4h5Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>898542021130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deals.d2c</string>
	<key>PROJECT_ID</key>
	<string>d2c-sale</string>
	<key>STORAGE_BUCKET</key>
	<string>d2c-sale.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898542021130:ios:7e3c621f6623f7c2294df3</string>
</dict>
</plist>